<div class="drawArea" id="drawArea"></div>

<div class="spacer2"></div>

<div class="controls">
  <button class="ctrl-btn btn-primary" id="more-colors">Colors!</button>
  <button class="ctrl-btn btn-primary" id="animate">Animate</button>
  <button class="ctrl-btn btn-primary" id="undo">Undo</button>
  <button class="ctrl-btn btn-primary" id="clear">Clear</button>

  <div id="size-controls">

    <div class="size-display">
      <input type="range" value="10" min="1" max="100" id="size-slider">
      <div id="current-size">10</div>
    </div>

    <button class="brush-size round-button" data-size="2">XXS</button>
    <button class="brush-size round-button" data-size="5">XS</button>
    <button class="brush-size round-button" data-size="10">S</button>
    <button class="brush-size round-button" data-size="25">M</button>
    <button class="brush-size round-button" data-size="50">L</button>
    <button class="brush-size round-button" data-size="75">XL</button>
    <button class="brush-size round-button" data-size="100">XXL</button>
    <br>
  </div>

  <div class="color-controls">
    <button class="color color-black" data-hex="#000000"</button>
    <button class="color color-gray" data-hex="#6d6f71"</button>
    <button class="color color-blue" data-hex="#0791cd"</button>
    <button class="color color-green" data-hex="#699c41"</button>
    <button class="color color-orange" data-hex="#f47e20"</button>
    <button class="color color-red" data-hex="#d6163b"</button>
    <button class="color color-brown" data-hex="#6e1a11"</button>
    <button class="color color-tan" data-hex="#f8ded7"</button>

    <button class="color color-white" data-hex="#FFFFFF"</button>
    <button class="color color-light-gray" data-hex="#d1d3d4"</button>
    <button class="color color-light-blue" data-hex="#73cff2"</button>
    <button class="color color-light-green" data-hex="#9bcc66"</button>
    <button class="color color-yellow" data-hex="#ffec00"</button>
    <button class="color color-pink" data-hex="#f180aa"</button>
    <button class="color color-purple" data-hex="#812468"</button>
    <button class="color color-more-tan" data-hex="#8e684c"</button>
  </div>

  <button id="step-submit">Submit!</button>

  <div class="hide" id="color-picker"></div>
</div>
