<div class="drawArea" id="drawArea"></div>

<div class="controls">Put toolbox here!!
  <input type="button" onclick="sketch.redrawAnimate()" style="" value="Animate">
  <input type="button" onclick="sketch.undo()" style="" value="Undo">
  <input type="button" onclick="sketch.clearRecording()" style="" value="Destroy">
  <div  id="color-picker"></div>
</div>