<div class="step-image">
  <a href="#/chains/<%=step.escape('chain_id')%>">
    <!-- <div class="drawAreaPreview" id="drawArea<%= step.id%>preview"></div> -->
    <img src="<%=step.get("image_url")%>">
  </a>
</div>

