<% if(step.is_image()) { %>
  <div class="step-image">
    <div class="drawArea" id="drawArea<%= step.id + this.uniqueID %>"></div>
  </div>

<% } else { %>

    <%if(this.uniqueID === "preview") {%>
        <div class="step-desc-preview">
      <% } else { %>
        <div class="step-desc">
      <% } %>

      <%=step.escape("description")%>
    </div>
<% }; %>


<% if(showInfo) { %>
  <div class="step-info">
    <% if(step.is_image()) { %>
      
      Drawn by: <%=step.escape("username")%>
      
      <span class="animate-btn">
        See it drawn! <button class="animate animate-thing btn-primary">Animate</button>
      </span>
    <% } else { %>
      
      <div class="desc-spacer">Described by: <%=step.escape("username")%></div>
    <% } %>
  </div>
<% } %>