<div class="controls">
  <div class="step-desc-playing">
    <input class="step-desc-text-playing" type="text" name="step[description]" id="description">
  </div>
<button id="step-submit">Submit!</button>
</div>