<div class="controls">
  <div class="step-desc-playing">
    <textarea class="step-desc-text-playing" name="step[description]" id="description"></textarea>
    <!-- <input class="step-desc-text-playing" type="textarea" name="step[description]" id="description"> -->
  </div>
<button id="step-submit">Submit!</button>
</div>