<div class="step-image">
  <a href="#/chains/<%=step.escape('chain_id')%>">
    <div class="drawAreaTimeline" id="drawArea<%=step.id%>timeline">
      <img src="<%=step.get("image_url")%>">
    </div>
  </a>
</div>