<!-- <a href="#/rooms/<%=room.id%>">Explore!</a> -->

<div id="timeline-container">
  <a href="#" id="timeline-prev">Prev</a>
  <span id="your-timeline">Your Timeline</span>
  <a href="#" id="timeline-next">Next</a>
  <div id="timeline"></div>
</div>

<div id="last-step"></div>

<div id="mission"><%=missionText%>
  <% if(missionText !== "Loading...") { %>
    <a href="#" id="skip">DON'T</a>
  <% }%>
</div>

<form id="step-form"></form>