<div id="timeline-container">
  <a href="#" id="timeline-prev"><i class="fa fa-arrow-left fa-2x"></i></a> 
  <span id="your-timeline"><strong>Your Timeline</strong></span>
  <a href="#" id="timeline-next"><i class="fa fa-arrow-right fa-2x"></i></a>
  <div id="timeline"></div>
</div>

<div id="last-step"></div>

<div class="spacer2"></div>

<div id="mission"><%=missionText%>
  <% if(missionText !== "Loading...") { %>
    <a href="#" id="skip">DON'T</a>
  <% }%>
</div>

<form id="step-form"></form>