<h1><%=room.escape("name")%></h1>

<a href="#/rooms">Find other rooms!</a>
<button id="play-now">Play Now!</button>

<div id="chains"><h2>DOODLES</h2></div>


<div class=hidden id="play">
  <button id="skip">Skip</button>

  <br>
  <br>
  <br>
  <form id="step-form"></form>
  <br>
  <br>
  <br>
  <div id="last-step"></div>

</div>
