<h1><%=room.escape("name")%></h1>

<a href="#/rooms">Find other rooms!</a>
<button id="play-now">Play Now!</button>

<div id="chains"><h2>DOODLES</h2></div>

<div class="hidden" id="play">

  <div id="timeline"></div>
  <div id="last-step"></div>
  <button class="btn-primary" id="skip">Skip</button>

  <div id="step-form"></div>
</div>