<div id="chain_header">
  <!-- <a href="#/rooms/<%=chain.escape("room_id")%>">In room: <%=chain.escape("room_id")%></a> -->
<span id="status">
  <% if(chain.is_over()){ %>
    Status: Completed!
  <% } else { %>
    Status: In Progress!
  <% } %>
</span>

<div id="steps"></div>