<h1>It's like the game of Telephone. Except with doodles</h1>

<p>Players create chains of alternating drawings and captions with hilarious result<p>
<p> <a href="users/new">Create</a> an account to start playing!</p>
<p>Or click <a href="#/rooms/1">here</a> to see some examples!</p>