<div class="front-header">
    		<h2>It's like the game of <em>Telephone</em>. Except with doodles.</h2>
    		<p>
    			In <strong>Doodle or Dont</strong>, players create chains of alternating drawings and captions with hilarious results.<br>
                
    		</p>
</div>
<br>

<div id="game-info">
    <p> <a class="lg-font" href="users/new">Create</a> an account to start playing!
    <span class="example">Or click <a class="lg-font" href="#/rooms/1">here</a> to see some examples!<span>
<div>
  
<div id="game-examples">
  
</div>