<p> Something something, sign up is easy. yo. </p>
<p> ---easy sign up form here--- </p>

<p> Don't know what's going on? Look below! </p>
<ul>
  <li>awesome example</li>
  <li>awesome example</li>
  <li>awesome example</li>
</ul>

<a href="#/rooms/1">See More</a>